{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "09170125-3133-46d2-9add-9a8dc462b21e",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}