{
  "Actions": [
    {
      "Name": "Сrouch",
      "KeyboardCode": "S",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "RightTrigger",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "voice",
      "KeyboardCode": "v",
      "GamepadCode": "Misc1",
      "GroupName": "Movement",
      "Title": null
    }
  ],
  "__guid": "7e2989b0-d145-4ee1-a3c4-1dce9dcbebd6",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}