{
  "Version": 2,
  "Mixers": {
    "Guid": "205d958b-1cc9-4b5a-9f56-f52e71cde195",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "4f650dad-d0c2-453d-9fe5-4c471b908d7e",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "72913f90-9b2c-4174-9caf-b6fa098485dd",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "bc4be45b-c596-406b-b8a4-7784f085ce88",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}